In [330]:
import pandas as pd
from be.controllers.filtering_tools import filter_dataframe

In [326]:
from production_prediction import get_available_stalks

In [327]:
from datetime import date, timedelta, datetime

In [332]:
starting_date = pd.to_datetime(date.today() - timedelta(days = 100))

In [333]:
df=pd.read_csv("production.csv")

In [13]:
df.head()

,id,planted_on,stems,block,variety,bell_sd,expected_yield,enough_weather_data,valid_combo,mu,...,fecha_dia_19,tallos_dia_19,fecha_dia_20,tallos_dia_20,fecha_dia_21,tallos_dia_21,fecha_dia_22,tallos_dia_22,fecha_dia_23,tallos_dia_23
0,0,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
1,1,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
2,2,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
3,3,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0
4,4,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0

In [14]:
info_df=df[["planted_on","stems","variety","expected_yield"]][:5]

In [15]:
info_df.to_csv("info_df.csv")

In [182]:
df["planted_on"]=pd.to_datetime(df["planted_on"])

In [183]:
for i in range(1,24):
    df["fecha_dia_"+str(i)]=pd.to_datetime(df['fecha_dia_'+str(i)])

In [143]:
df["fecha_dia_1"][0]

Timestamp('2021-04-28 00:00:00')

In [329]:
def filter_planted_after(df, start_date):### select only those planted after a given date
    """Filter a datframe based on to dates."""
    filtered_df= df[df['planted_on']>=start_date]
    return filtered_df

In [18]:
df.head()

,id,planted_on,stems,block,variety,bell_sd,expected_yield,enough_weather_data,valid_combo,mu,...,fecha_dia_19,tallos_dia_19,fecha_dia_20,tallos_dia_20,fecha_dia_21,tallos_dia_21,fecha_dia_22,tallos_dia_22,fecha_dia_23,tallos_dia_23
0,0,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
1,1,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
2,2,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
3,3,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0
4,4,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0

In [8]:
recent_df=filter_planted_after(df,starting_date)

In [39]:
list(sorted(recent_df["planted_on"].unique()))

[numpy.datetime64('2022-09-21T00:00:00.000000000'),
 numpy.datetime64('2022-09-22T00:00:00.000000000'),
 numpy.datetime64('2022-09-23T00:00:00.000000000'),
 numpy.datetime64('2022-09-24T00:00:00.000000000'),
 numpy.datetime64('2022-09-26T00:00:00.000000000'),
 numpy.datetime64('2022-09-27T00:00:00.000000000'),
 numpy.datetime64('2022-09-28T00:00:00.000000000'),
 numpy.datetime64('2022-09-29T00:00:00.000000000'),
 numpy.datetime64('2022-09-30T00:00:00.000000000'),
 numpy.datetime64('2022-10-01T00:00:00.000000000'),
 numpy.datetime64('2022-10-03T00:00:00.000000000'),
 numpy.datetime64('2022-10-04T00:00:00.000000000'),
 numpy.datetime64('2022-10-05T00:00:00.000000000'),
 numpy.datetime64('2022-10-06T00:00:00.000000000'),
 numpy.datetime64('2022-10-07T00:00:00.000000000'),
 numpy.datetime64('2022-10-08T00:00:00.000000000'),
 numpy.datetime64('2022-10-10T00:00:00.000000000')]

In [48]:
bl=recent_df["block"].unique().tolist()

In [53]:
type(bl[0])

int

In [61]:
str(4)

'4'

In [65]:
type(bl)

list

NameError: name 'z' is not defined

In [74]:
del(list)

In [77]:
adf=list(map(lambda z: "Bloque "+str(z),bl))

In [79]:
recent_df.head()

,id,planted_on,stems,block,variety,bell_sd,expected_yield,enough_weather_data,valid_combo,mu,...,fecha_dia_19,tallos_dia_19,fecha_dia_20,tallos_dia_20,fecha_dia_21,tallos_dia_21,fecha_dia_22,tallos_dia_22,fecha_dia_23,tallos_dia_23
3987,3987,2022-09-21,3480,23,potomac crimson,3.50,3097.2,True,True,67.157600,...,2022-12-05,48,2022-12-06,26,2022-12-07,13,2022-12-08,6,2022-12-09,3
3988,3988,2022-09-23,3480,23,potomac crimson,3.50,3097.2,True,True,67.240170,...,2022-12-07,48,2022-12-08,26,2022-12-09,13,2022-12-10,6,2022-12-11,3
3989,3989,2022-10-06,6960,23,potomac crimson,3.50,6194.4,True,True,57.617120,...,2022-12-10,97,2022-12-11,53,2022-12-12,26,2022-12-13,12,2022-12-14,5
4020,4020,2022-10-10,3540,23,potomac early orange,2.00,3009.0,True,True,49.973250,...,2022-12-11,0,2022-12-12,0,2022-12-13,0,2022-12-14,0,2022-12-15,0
4152,4152,2022-09-22,3480,23,potomac early rosse,3.25,2958.0,True,True,60.995636,...,2022-11-30,22,2022-12-01,10,2022-12-02,4,2022-12-03,2,2022-12-04,1

In [78]:
adf

['Bloque 23', 'Bloque 30', 'Bloque 33', 'Bloque 39', 'Bloque 55', 'Bloque 64']

In [81]:
variedades=recent_df["variety"].unique().tolist()

In [83]:
variedades=list(map(lambda z: z.capitalize(),variedades))

In [84]:
variedades

['Potomac crimson',
 'Potomac early orange',
 'Potomac early rosse',
 'Potomac early white',
 'Potomac early pink',
 'Potomac early yellow',
 'Alma',
 'Soleado',
 'Aneto',
 'Veronica',
 'Candy crush mint',
 'Candy crush red',
 'Lucy',
 'Skylie']

In [87]:
from dash import Dash, dash_table
import pandas as pd

dfteset = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/solar.csv')

In [3]:
dftest = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/solar.csv')

In [4]:
dftest.head()

,State,Number of Solar Plants,Installed Capacity (MW),Average MW Per Plant,Generation (GWh)
0,California,289,4395,15.3,10826
1,Arizona,48,1078,22.5,2550
2,Nevada,11,238,21.6,557
3,New Mexico,33,261,7.9,590
4,Colorado,20,118,5.9,235

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: on

Traceback (most recent call last):
  File "/opt/miniconda3/envs/dash_tutorial/lib/python3.10/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/opt/miniconda3/envs/dash_tutorial/lib/python3.10/site-packages/traitlets/config/application.py", line 991, in launch_instance
    app.initialize(argv)
  File "/opt/miniconda3/envs/dash_tutorial/lib/python3.10/site-packages/traitlets/config/application.py", line 113, in inner
    return method(app, *args, **kwargs)
  File "/opt/miniconda3/envs/dash_tutorial/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 665, in initialize
    self.init_sockets()
  File "/opt/miniconda3/envs/dash_tutorial/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 309, in init_sockets
    self.shell_port = self._bind_socket(self.shell_socket, self.shell_port)
  File "/opt/miniconda3/envs/dash_tutorial/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 246, in _bind_socket
    return self._try_bind_socket(s, port)
  File "/opt/miniconda3/envs/dash_tutorial/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 222, in _try_bind_socket
    s.bind("tcp://%s:%i" % (self.ip, port))
  File "/opt/miniconda3/envs/dash_tutorial/lib/python3.10/site-packages/zmq/sugar/socket.py", line 232, in bind
    super().bind(addr)
  File "zmq/backend/cython/socket.pyx", line 568, in zmq.backend.cython.socket.Socket.bind
  File "zmq/backend/cython/checkrc.pxd", line 28, in zmq.backend.cython.checkrc._check_rc
zmq.error.ZMQError: Address already in use

SystemExit: 1

/opt/miniconda3/envs/dash_tutorial/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3441: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [188]:
short=df[:100]

In [155]:
dias=[]
for x in range(-100,100):
    dias.append(date.today()+timedelta(days=x))

In [156]:
dias[:10]

[datetime.date(2022, 9, 22),
 datetime.date(2022, 9, 23),
 datetime.date(2022, 9, 24),
 datetime.date(2022, 9, 25),
 datetime.date(2022, 9, 26),
 datetime.date(2022, 9, 27),
 datetime.date(2022, 9, 28),
 datetime.date(2022, 9, 29),
 datetime.date(2022, 9, 30),
 datetime.date(2022, 10, 1)]

In [153]:
dias=list(map(lambda z:pd.to_datetime(z),dias))

In [154]:
df.shape

(25173, 59)

In [47]:
df.head()

,id,planted_on,stems,block,variety,bell_sd,expected_yield,enough_weather_data,valid_combo,mu,...,fecha_dia_19,tallos_dia_19,fecha_dia_20,tallos_dia_20,fecha_dia_21,tallos_dia_21,fecha_dia_22,tallos_dia_22,fecha_dia_23,tallos_dia_23
0,0,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
1,1,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
2,2,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
3,3,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0
4,4,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0

In [60]:
value=[]
for dia in dias:
    value.append(get_available_stalks(df[df["variety"]=="chelsea"],dia,50))

KeyboardInterrupt:

In [144]:
short=df.head()

In [186]:
t=short["planted_on"][0]

In [187]:
t.to_pydatetime()

AttributeError: 'datetime.date' object has no attribute 'to_pydatetime'

In [113]:
type(df["planted_on"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [114]:
for columna in list(short.columns):
    if type(short[columna])=="pandas._libs.tslibs.timestamps.Timestamp":
        short[columna]=short[columna].apply(lambda z: z.to_pydatetime())

In [363]:
df["variety"].unique()

array(['chelsea', 'purple monarch', 'atlantis orange',
       'potomac early white', 'alma', 'aneto', 'atlantis', 'can can',
       'felina', 'paintball sunny', 'potomac crimson',
       'potomac early pink', 'potomac early yellow', 'tara', 'veronica',
       'whatsapp', 'mark twain', 'potomac early orange',
       'potomac early rosse', 'alligator', 'brazilian',
       'candy crush white', 'clarity', 'brazuca', 'candy crush yellow',
       'champagne yellow', 'delirock', 'delirock pink', 'florange dark',
       'airbrush', 'bacano', 'candy crush mint', 'dotty pink', 'maisy',
       'melrose', 'montes', 'trissia', 'colby white',
       'costa summer orange', 'skylie', 'oro', 'doni', 'isabella',
       'soleado', 'amethyst dark', 'arctic queen', 'mont blanc',
       'morning', 'alemani', 'candy crush purple', 'sweet dreams',
       'aipom', 'colorado spring', 'uvita', 'zembla green', 'katy',
       'candy crush red', 'creme brulee', 'lucy', 'molly yellow',
       'pancras dark', 'botani', 'pasion belen', 'amor candy',
       'aquarel pink', 'eilish', 'scooter', 'tedcha'], dtype=object)

In [185]:
short["planted_ona"]=short["planted_on"].apply(lambda z: z.to_pydatetime())

AttributeError: 'datetime.date' object has no attribute 'to_pydatetime'

In [124]:
type(short["planted_ona"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [130]:
pd["planted_on"]=pd.to_pydatetime(pd["planted_on"])

AttributeError: module 'pandas' has no attribute 'to_pydatetime'

In [62]:
value=[]
for dia in dias:
    value.append(get_available_stalks(short,dia,50))

In [145]:
short["planted_on"]=short['planted_on'].dt.date

/var/folders/_l/7xr3qhx50rl1tsc0s6dt78hr0000gn/T/ipykernel_78724/2407093087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short["planted_on"]=short['planted_on'].dt.date

In [139]:
short["planted_on"][0]

datetime.date(2021, 2, 15)

In [184]:
for i in range(1,24):
    short["fecha_dia_"+str(i)]=short['fecha_dia_'+str(i)].dt.date

AttributeError: Can only use .dt accessor with datetimelike values

In [161]:
short["fecha_dia_2"][0]

datetime.date(2021, 4, 29)

In [149]:
short

,id,planted_on,stems,block,variety,bell_sd,expected_yield,enough_weather_data,valid_combo,mu,...,fecha_dia_19,tallos_dia_19,fecha_dia_20,tallos_dia_20,fecha_dia_21,tallos_dia_21,fecha_dia_22,tallos_dia_22,fecha_dia_23,tallos_dia_23
0,0,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
1,1,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
2,2,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
3,3,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0
4,4,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0

In [159]:
dias[0]

datetime.date(2022, 9, 22)

In [162]:
res=[]
for dia in dias[100:]:
    res.append(get_available_stalks(short,dia,100))

/Users/camiloariasabad/Desktop/Impossible/Projects/flower_viewer/production_prediction.py:89: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if stalks_df[stalks_df[f"fecha_dia_{i+1}"] == date][f"tallos_dia_{i+1}"].sum():

In [181]:
short

,id,planted_on,stems,block,variety,bell_sd,expected_yield,enough_weather_data,valid_combo,mu,...,fecha_dia_19,tallos_dia_19,fecha_dia_20,tallos_dia_20,fecha_dia_21,tallos_dia_21,fecha_dia_22,tallos_dia_22,fecha_dia_23,tallos_dia_23
0,0,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
1,1,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
2,2,2021-02-15,3480,1,chelsea,1.25,2644.8,True,True,75.75516,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
3,3,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0
4,4,2021-02-17,3480,1,chelsea,1.25,2644.8,True,True,75.40767,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0

In [175]:
short["fecha_dia_1"][0]

datetime.date(2021, 4, 28)

In [194]:
get_available_stalks(short,date(2021,4,28),100)

311

In [195]:
dias=pd.date_range(start='1/1/2018', end='1/08/2018')

In [199]:
dias=list(dias)

In [207]:
def daterange(start, end):
  return [start + timedelta(n) for n in range(int((end - start).days))]

In [335]:
start=date(2022,7,1)
end=start+timedelta(days=15)

In [336]:
dias=daterange(start,end)

In [269]:
short["fecha_dia_1"]

0    2021-04-28
1    2021-04-28
2    2021-04-28
3    2021-04-30
4    2021-04-30
        ...
95   2022-01-08
96   2022-01-08
97   2022-06-30
98   2022-07-02
99   2022-07-03
Name: fecha_dia_1, Length: 100, dtype: datetime64[ns]

In [270]:
df_draw=pd.DataFrame()
df_draw["x"]=dias

In [271]:
df_draw["y"]=list(map(lambda z: get_available_stalks(short,z,10),dias))

In [317]:
from be.controllers.scatter_plot import scatter_graph

In [276]:
short["variety"].unique()

array(['chelsea', 'purple monarch', 'atlantis orange',
       'potomac early white', 'alma', 'aneto'], dtype=object)

In [288]:
short[short["variety"]=="atlantis orange"]

,id,planted_on,stems,block,variety,bell_sd,expected_yield,enough_weather_data,valid_combo,mu,...,fecha_dia_19,tallos_dia_19,fecha_dia_20,tallos_dia_20,fecha_dia_21,tallos_dia_21,fecha_dia_22,tallos_dia_22,fecha_dia_23,tallos_dia_23
41,41,2021-08-19,4088,2,atlantis orange,1.25,3679.2,True,True,68.823590,...,2021-11-10,0,2021-11-11,0,2021-11-12,0,2021-11-13,0,2021-11-14,0
42,42,2021-08-19,4116,2,atlantis orange,1.25,3704.4,True,True,68.800674,...,2021-11-10,0,2021-11-11,0,2021-11-12,0,2021-11-13,0,2021-11-14,0
43,43,2021-08-19,4046,2,atlantis orange,1.25,3641.4,True,True,68.772780,...,2021-11-10,0,2021-11-11,0,2021-11-12,0,2021-11-13,0,2021-11-14,0
44,44,2021-08-19,4130,2,atlantis orange,1.25,3717.0,True,True,68.758804,...,2021-11-10,0,2021-11-11,0,2021-11-12,0,2021-11-13,0,2021-11-14,0
45,45,2021-08-19,4144,2,atlantis orange,1.25,3729.6,True,True,68.758804,...,2021-11-10,0,2021-11-11,0,2021-11-12,0,2021-11-13,0,2021-11-14,0
46,46,2021-08-19,4102,2,atlantis orange,1.25,3691.8,True,True,68.823590,...,2021-11-10,0,2021-11-11,0,2021-11-12,0,2021-11-13,0,2021-11-14,0
47,47,2021-08-19,1302,2,atlantis orange,1.25,1171.8,True,True,68.886536,...,2021-11-10,0,2021-11-11,0,2021-11-12,0,2021-11-13,0,2021-11-14,0
48,48,2021-08-19,1470,2,atlantis orange,1.25,1323.0,True,True,68.876310,...,2021-11-10,0,2021-11-11,0,2021-11-12,0,2021-11-13,0,2021-11-14,0
49,49,2021-08-19,3990,2,atlantis orange,1.25,3591.0,True,True,68.888990,...,2021-11-10,0,2021-11-11,0,2021-11-12,0,2021-11-13,0,2021-11-14,0
50,50,2022-06-10,1287,2,atlantis orange,1.25,1158.3,True,True,70.148680,...,2022-09-02,0,2022-09-03,0,2022-09-04,0,2022-09-05,0,2022-09-06,0

In [338]:
short["fecha_dia_1"][0]

Timestamp('2021-04-28 00:00:00')

In [339]:
var=dict()
for variedad in ['chelsea', 'purple monarch', 'atlantis orange',
       'potomac early white', 'alma', 'aneto']:
    draw_df=pd.DataFrame()
    draw_df["x"]=dias
    draw_df["y"]=list(map(lambda z: get_available_stalks(short[short["variety"]==variedad],z,10),dias))
    
    var[variedad]=draw_df

In [340]:
var["aneto"]

             x      y
0   2022-07-01     47
1   2022-07-02    277
2   2022-07-03    978
3   2022-07-04   2284
4   2022-07-05   4066
5   2022-07-06   6193
6   2022-07-07   8244
7   2022-07-08   9577
8   2022-07-09  10104
9   2022-07-10  10226
10  2022-07-11  10238
11  2022-07-12  10196
12  2022-07-13   9966
13  2022-07-14   9265
14  2022-07-15   7959

In [291]:
dias

[datetime.date(2022, 7, 1),
 datetime.date(2022, 7, 2),
 datetime.date(2022, 7, 3),
 datetime.date(2022, 7, 4),
 datetime.date(2022, 7, 5),
 datetime.date(2022, 7, 6),
 datetime.date(2022, 7, 7),
 datetime.date(2022, 7, 8),
 datetime.date(2022, 7, 9),
 datetime.date(2022, 7, 10),
 datetime.date(2022, 7, 11),
 datetime.date(2022, 7, 12),
 datetime.date(2022, 7, 13),
 datetime.date(2022, 7, 14),
 datetime.date(2022, 7, 15)]

In [318]:
get_available_stalks(short,date(2022,7,1),10)

47

In [302]:
short["variety"].unique()

array(['chelsea', 'purple monarch', 'atlantis orange',
       'potomac early white', 'alma', 'aneto'], dtype=object)

In [349]:
dias

[datetime.date(2022, 7, 1),
 datetime.date(2022, 7, 2),
 datetime.date(2022, 7, 3),
 datetime.date(2022, 7, 4),
 datetime.date(2022, 7, 5),
 datetime.date(2022, 7, 6),
 datetime.date(2022, 7, 7),
 datetime.date(2022, 7, 8),
 datetime.date(2022, 7, 9),
 datetime.date(2022, 7, 10),
 datetime.date(2022, 7, 11),
 datetime.date(2022, 7, 12),
 datetime.date(2022, 7, 13),
 datetime.date(2022, 7, 14),
 datetime.date(2022, 7, 15)]

In [300]:
draw_df=pd.DataFrame()
draw_df["x"]=dias
draw_df["y"]=list(map(lambda z: get_available_stalks(short,z,40),dias))

In [348]:
short["fecha_dia_1"][0]

Timestamp('2021-04-28 00:00:00')

In [343]:
scatter_graph("aneto",var)

In [355]:
short["stems"].sum()

336963

In [358]:
str(pd.to_datetime("2023-01-31")

'2023-01-31 00:00:00'

In [361]:
short[short["block"].isin([1,2])]

,id,planted_on,stems,block,variety,bell_sd,expected_yield,enough_weather_data,valid_combo,mu,...,fecha_dia_19,tallos_dia_19,fecha_dia_20,tallos_dia_20,fecha_dia_21,tallos_dia_21,fecha_dia_22,tallos_dia_22,fecha_dia_23,tallos_dia_23
0,0,2021-02-15,3480,1,chelsea,1.25,2644.80,True,True,75.755160,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
1,1,2021-02-15,3480,1,chelsea,1.25,2644.80,True,True,75.755160,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
2,2,2021-02-15,3480,1,chelsea,1.25,2644.80,True,True,75.755160,...,2021-05-16,0,2021-05-17,0,2021-05-18,0,2021-05-19,0,2021-05-20,0
3,3,2021-02-17,3480,1,chelsea,1.25,2644.80,True,True,75.407670,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0
4,4,2021-02-17,3480,1,chelsea,1.25,2644.80,True,True,75.407670,...,2021-05-18,0,2021-05-19,0,2021-05-20,0,2021-05-21,0,2021-05-22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,58,2022-03-09,6576,2,potomac early white,2.00,5721.12,True,True,52.098988,...,2022-05-12,0,2022-05-13,0,2022-05-14,0,2022-05-15,0,2022-05-16,0
59,59,2022-03-09,3480,2,potomac early white,2.00,3027.60,True,True,49.950314,...,2022-05-10,0,2022-05-11,0,2022-05-12,0,2022-05-13,0,2022-05-14,0
60,60,2022-03-10,3480,2,potomac early white,2.00,3027.60,True,True,49.757900,...,2022-05-11,0,2022-05-12,0,2022-05-13,0,2022-05-14,0,2022-05-15,0
61,61,2022-03-11,3480,2,potomac early white,2.00,3027.60,True,True,49.883884,...,2022-05-12,0,2022-05-13,0,2022-05-14,0,2022-05-15,0,2022-05-16,0
62,62,2022-03-11,3480,2,potomac early white,2.00,3027.60,True,True,49.883884,...,2022-05-12,0,2022-05-13,0,2022-05-14,0,2022-05-15,0,2022-05-16,0